{{>header}}
{{>navbar}}
<section class="container my-5">
    <div class="d-flex flex-row-reverse">
        <a href="/add" class="btn btn-primary">Add New User</a>
    </div>
    <div class="my-4">
        {{#if isEmpty}}  
        {{!-- {{#unless isEmpty}}  {{else}}  {{/unless}} --}}
            <div class="alert alert-danger">
                No Users Yet
            </div>
            {{else}}
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each allUsers}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>
                        <a href="/single/{{this.id}}" class="btn btn-success mx-2">show</a>
                        <a href="/edit/{{this.id}}" class="btn btn-warning mx-2">edit</a>
                        <a href="/delete/{{this.id}}" class="btn btn-danger mx-2">delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        
    </div>
</section>
{{>footer}}